.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    background-color: black;
    border: .2vmin solid #383838;
    border-radius: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
    transition: 170ms;
  }
  
  .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
  }
  
  .OrderListItem.selected {
    border-color: white;
    border-width: .2vmin;
    cursor: default;
  }
  
  .OrderListItem:not(.selected):hover {
    border-color: white;
    border-width: .2vmin;
  }