nav {
    margin: -2vmin;
    height: 11vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: black;
}

img {
    width: 8vmin;
    height: 8vmin;
    margin-top: -3vmin;
    margin-bottom: -3vmin;
    margin-right: 1vmin;
}