.HomePage {
  position: absolute;
  top: 47%;
  left: 12vmin;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
  position: absolute;
  top: 55%;
  right: 5vmin;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80vmin;
  height: 80vmin;
}
